<div class="min-h-screen bg-[#020617] pb-20" *ngIf="lesson">
    <app-navbar></app-navbar>

    <div class="max-w-5xl mx-auto px-4 pt-10 space-y-10">
        <div class="space-y-2">
            <p class="text-blue-400 text-sm font-bold tracking-widest uppercase">Now Playing</p>
            <h1 class="text-2xl md:text-3xl font-bold text-white">{{ lesson.title }}</h1>
        </div>

        <!-- 🔹 VIDEO SECTION -->
        <app-lessons-video-section [videoUrl]="lesson.videoUrl"></app-lessons-video-section>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
            <!-- Left Side: Content -->
            <div class="lg:col-span-2 space-y-10">
                <!-- Lesson Info -->
                <app-lesson-description [lesson]="lesson"></app-lesson-description>

                <!-- Practice Task -->
                <app-lesson-task [lesson]="lesson"></app-lesson-task>
            </div>

            <!-- Right Side: Quiz -->
            <div class="space-y-6">
                <app-lessons-quick-quiz [lesson]="lesson"></app-lessons-quick-quiz>
            </div>
        </div>

        <!-- Navigation -->
        <app-lessons-prv-next-button [currentLessonId]="lesson.id"></app-lessons-prv-next-button>

    </div>
</div>